---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
    pageTitle={frontmatter.title}
    heading={frontmatter.title}
    meta={{
        title: frontmatter.title,
        description: frontmatter.description,
        image: frontmatter.image,
    }}
>
    <p><em>{frontmatter.description}</em></p>

    <p class="text-base italic">
        Written by {frontmatter.author}, {frontmatter.pubDate.slice(0, 10)}
    </p>

    <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->

    <slot />

    <!-- <ul class="tags">
        {
            frontmatter.tags.map((tag) => (
                <li class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </li>
            ))
        }
    </ul> -->
</BaseLayout>

<!-- TODO: figure out how to do it in Tailwind -->
<style>
    p {
        + h2 {
            margin-top: var(--spacing-6);
        }
    }
</style>
