---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} heading={frontmatter.title}>
    <p><em>{frontmatter.description}</em></p>

    <p class="author-and-date">
        Written by {frontmatter.author}, {frontmatter.pubDate.slice(0, 10)}
    </p>
    <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->

    <slot />

    <!-- <ul class="tags">
        {
            frontmatter.tags.map((tag) => (
                <li class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </li>
            ))
        }
    </ul> -->
</BaseLayout>

<style>
    .author-and-date {
        font-size: 16px;
        font-style: italic;
    }
</style>
